
element.style {
}
.bg-dark {
    background-color: #344767!important;
}
.text-center {
    text-align: center!important;
}
.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(33,37,41,var(--bs-bg-opacity))!important;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}
.footer-landing, .multiverse {
    background-image: url(https://res.cloudinary.com/fahad-shahzad/image/upload/v1663946050/web3maker./landing-page-2/Screenshot_2022-09-23_at_8.03.53_PM_ef0h4r.png);
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-weight: 400;
    line-height: 1.6;
}